body {
  background-color: #0A2647;
}

h1, h2, h3, h4, h5, a, span, p {
  color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

#bugtracker, #version {
  text-decoration: none;
  font-size: 12px;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

#root h1{
  text-align: center;
}

#root h2 {
  text-align: center;
  font-weight: 300;
}

#btnPrint {
  background-color: #393E46;
  border: none;
  border-radius: 5px;
  color: #E5E5E5;
}

.btn_and_status, .footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}